{{!< main}}

{{#contentFor "body"}}
  <h2>Welcome to the Blog!</h2>

  {{#if posts.length}}
    <ul>
      {{#each posts}}
        <li>
          <h3><a href="/posts/{{id}}">{{title}}</a></h3>
          <p>{{content}}</p>
        </li>
      {{/each}}
    </ul>
  {{else}}
    <p>No posts available.</p>
  {{/if}}
{{/contentFor}}
